@charset "utf-8";

/*font - 'Noto Sans KR'*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*font - Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Common*/
:root {
  --blue : #1e4490;
  --grey : #666666;
}
body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, button {margin: 0;padding: 0;}
ol, ul, li {list-style: none;}
body {
  line-height: 1;font-size: 16px;
  font-family: Roboto, 'Noto Sans KR', '맑은 고딕', 'Apple Gothic', sans-serif;
}
a {text-decoration: none;color: inherit;}
button {background: none;border: none;cursor: pointer;font: inherit; color: inherit;line-height: 1;}
.container {width: 90%;margin: auto;}
.clrfix:after {content:""; display: block;clear: both;}
.blind {display: block;width: 0;height: 0;overflow: hidden;}
.material-icons {vertical-align: middle;}

.skip_nav a {
  display: block;line-height: 50px;background-color: var(--blue);
  text-align: center;position: absolute;left: 0;right: 0;top: -50px;
}
.skip_nav a:focus {top: 0;}

/*header*/
header h1 {float: left;}
header .lang_wrap {float: right;text-align: center;background: #FFF;width: 80px;position: relative;}
header .lang_wrap span {line-height: 75px;cursor: pointer;}
header .lang_wrap ul {}
header .lang_wrap li {line-height: 2;}


/*visual*/
main .visual_wrap {overflow: hidden;position: relative;;}
main .visual_wrap .swiper-wrapper {}
main .visual_wrap .swiper-slide {background-size: cover;background-repeat: no-repeat;background-position: center;}
main .visual_wrap .visual1 {background-image: url(../img/main_visual_slide_1.jpg);}
main .visual_wrap .visual2 {background-image: url(../img/main_visual_slide_2.jpg);}
main .visual_wrap .visual3 {background-image: url(../img/main_visual_slide_3.jpg);}
main .swiper-slide .vis_txt {padding: 200px 0;color: #fff;}
main .vis_txt b {display: block;font-size: 30px;padding-bottom: 25px;}
main .vis_txt p {font-size: 20px;}
.visual_wrap .visual-pagination  {position: absolute;left: 0;right: 0;bottom: 50px;text-align: center;z-index: 10;}
.visual_wrap .visual-pagination span {width: 15px;height: 15px;border: 1px solid #FFF;}
.visual_wrap .visual-pagination .swiper-pagination-bullet-active {width: 40px;background: rgba(255, 255, 255, 0.5);border-radius: 15px;border: none;}
.visual_wrap .visual-pagination .swiper-pagination-bullet {}
.visual_wrap button {width: 20px;height: 20px;}

/*지속가능경영-gsv*/
main .gsv_wrap {}
main .gsv_wrap li {float: left;text-align: center;}

main .gsv_wrap ul li img {width: 100px;padding-bottom: 100px;}
main .gsv_wrap ul li span {font-size: 25px;display: block;}

/* 사업분야 - prod */
main .prod_wrap .contents{overflow: hidden;color: #FFF}
main .prod_wrap .contents a {display: block;padding: 60px;background: rgba(0,0,0,0.3);box-sizing: border-box;}
main .prod_wrap .contents p {margin-bottom: 80px;}
main .prod_wrap .prod_list li {background-size: cover;}
main .prod_wrap .prod_list .prod1 {background-image: url(../img/sub_visual_trsfm.jpg);}
main .prod_wrap .prod_list .prod2 {background-image: url(../img/sub_visual_monitoring.jpg);}
main .prod_wrap .prod_list .prod3 {background-image: url(../img/sub_visual_energy.jpg);}
main .prod_wrap .prod_list .prod4 {background-image: url(../img/sub_visual_motor.jpg);}
main .prod_wrap .prod_list .prod5 {background-image: url(../img/sub_visual_machine.jpg);}
main .prod_wrap .prod_list .prod6 {background-image: url(../img/sub_visual_gear.jpg);}
main .prod_wrap .prod_list .prod7 {background-image: url(../img/sub_visual_welding.jpg);}
main .prod_wrap .prod_list .prod8 {background-image: url(../img/sub_visual_field.jpg);}


/* 뉴스  */
main .news_wrap {padding: 100px 0;clear: both;position: relative;}
main .news_wrap .news_slide {overflow: hidden;}
main .news_wrap button {position: absolute;top: 50%;width: 20px;height: 20px;}
main .news-prev {left: 20px;}
main .news-next {right: 20px;}

main .news_wrap ul {padding-top: 70px;}
main .news_wrap ul li {float: left;border: 1px solid #AAA;box-sizing: border-box;}
main .news_wrap ul li a {}
main .news_wrap ul li .news_img {overflow: hidden;}
main .news_wrap ul li img {width: 100%;}
main .news_wrap .news_txt {padding: 30px;}
main .news_wrap ul li strong {display: block;font-size: 22px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-bottom: 15px;}
main .news_wrap ul li p {margin: 40px 0; font-size: 15px;line-height: 1.6;}
main .news_wrap ul li span {font-size: 13px;color: #999999;}


/* 기타 */
main .others_wrap {background: url(../img/office-865091_1920.jpg);}
main .others_wrap ul li {float: left;color: #FFF;}
main .others_wrap ul li a {display: block;border: 1px solid #FFF;border-radius: 50%;text-align: center;}

/* Footer */
footer {background: #f3f3f3;color: #666;}
footer .container {}
footer .footer_menu_wrap li {display: inline-block;text-align: center;}

footer .sns_wrap li a {display: block;width: 36px;height: 36px;background-image: url(../img/sns_icon_img.png);}

footer .sns_wrap .blog {background-position: 0px 0px;}
footer .sns_wrap .facebook {background-position: 0px -46px;}
footer .sns_wrap .youtube {background-position: 0px -92px;}
footer .top_btn {position: fixed; bottom:50px;right: 50px;z-index: 999;}
footer .top_btn img {width: 40px;height: 40px;}
/* 화살표 왜 안 보여 ㅠ */

footer .sns_wrap span, .top_btn span {visibility: hidden;}



/* @common */


/* PC */
@media screen and (min-width: 1280px) {
  .container {max-width: 1530px; min-width: 1200px;}

  /* Header */
  header {height: 75px;}
  /* (75-37) / 2 = 19 */
  header h1 {padding-top: 17px;}

  header .mo_btn {display: none;}
  header .lang_wrap {}
  header .lang_wrap ul {display: none;position: absolute;left: 0;right: 0;top: 75px;z-index: 10;border: 1px solid #CCC;border-top: none;padding: 10px 15px;background: #FFF;}
  header .lang_wrap span {}
  header .lang_wrap .lang {}
  header .lang_wrap .lang li {}

  header .gnb_wrap {text-align: center;}
  header .gnb_wrap .gnb {}
  header .gnb_wrap .gnb .a2 {display: none;}
  header .gnb_wrap .gnb li {display: inline-block;line-height: 75px;margin: 0 60px 0 0;}
  header .gnb_wrap .gnb li:last-child {margin: 0;}
  header .gnb_wrap .gnb li a {font-size: 18px;}
  

  /* Main */
  main .swiper-slide .vis_txt {max-width: 1530px;min-width: 1200px;}
  main .visual_wrap {position: relative;}
  main .visual_wrap .swiper-slide {height: calc(100vh - 100px);}
  main .visual_wrap button {position: absolute;top: 50%;z-index: 10;width: 50px;height: 50px;}
  main .visual_wrap .visual-prev {left: 20px;}
  main .visual_wrap .visual-next {right: 20px;}
  main .visual_wrap button img {height: 100%;}

  /* 지속가능경영-gsv */
  main h2 {text-align: center;font-size: 40px;}
  main .gsv_wrap  h3 {display: none;}

  main .gsv_wrap {padding: 100px 0;}
  main .gsv_wrap ul {padding: 140px 0;}
  main .gsv_wrap li {width: 25%;}
  main .gsv_wrap ul li img {width: 100px;padding-bottom: 100px;}
  main .gsv_wrap ul li span {font-size: 25px;display: block;}

  /* 사업분야 - prod */
  main .prod_wrap {background-color: powderblue;}
  main .prod_wrap .prod_txt {float: left; width: 30%;height: 500px;}
  main .prod_wrap .prod_txt h2 {padding-bottom: 50px;text-align: left;}
  main .prod_wrap .prod_txt p {padding: 50px 0;}
  main .prod_wrap .prod_txt a {border: 1px solid #000;border-radius: 15px;padding: 10px 15px;}
  
  main .prod_wrap .slide_contents {float: right; width: 70%;}
  main .prod_wrap .contents {height: 500px;}
  main .prod_wrap .contents a {height: 100%;}

  main .prod_wrap .prod_list {}
  main .prod_wrap .prod_list li {}


  main .prod_wrap .prod_list li a {}
  main .prod_wrap .prod_list li strong {display: block; padding-bottom: 30px; font-size: 30px;}
  main .prod_wrap .prod_list li p {}
  main .prod_wrap .prod_list li span {}

  main .prod_wrap .prod_tabs {font-size: 14px;}
  main .prod_wrap .prod_tabs .swiper-pagination-bullet {background: none;cursor: pointer;}
  main .prod_wrap .prod_tabs span {display: block;float: left;width: calc(100% / 8);padding: 30px 0;border-radius: 0;margin: 0 !important;opacity: 1;text-align: center;}
  main .prod_wrap .prod_tabs .swiper-pagination-bullet-active {font-weight: bold;color:#1e4490}



  /* 뉴스 - pc */
  main .news_wrap {padding: 100px 0;clear: both;position: relative;}
  main .news_wrap .news_slide {overflow: hidden;}
  main .news_wrap button {position: absolute;top: 50%;color: rgba(180, 180, 180, 0.5);}
  main .news_wrap span {font-size: 50px;}
  main .news-prev {left: 120px;}
  main .news-next {right: 120px;}
  
  main .news_wrap ul {padding-top: 70px;}
  main .news_wrap ul li {}
  main .news_wrap ul li a {}
  main .news_wrap ul li .news_img {height: 300px; overflow: hidden;}
  main .news_wrap ul li img {width: 100%;}

  main .news_wrap .news_txt {padding: 30px;}
  main .news_wrap ul li strong {display: block;font-size: 22px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
  main .news_wrap ul li p {margin-top: 40px 0; font-size: 15px;line-height: 1.6;}
  main .news_wrap ul li span {font-size: 13px;color: #999999;}

  /* main .main_banner_wrap .banner {width: 31.5%;float: left;margin-right: 30px;}
  main .main_banner_wrap .banner:last-child {margin-right: 0;} */


  /* 기타 - pc */
  main .others_wrap {width: 100%;padding: 150px 0;}
  main .others_wrap ul {width: 850px;}
  main .others_wrap ul li {float: left;margin: 70px;}
  main .others_wrap ul li a {width: 200px;height: 200px;font-size: 30px;}
  main .others_wrap ul li a span {display: inline-block;margin-top: 50%;transform: translateY(-50%)}


  /* Footer */
  footer .footer_container {padding: 50px 50px;}
  footer .footer_menu_wrap {}
  footer .footer_menu_wrap li {float: left;margin: 0 50px 50px 0;}
  footer .footer_menu_wrap li a {}

  footer .familysite_wrap a {float: right;}

  footer .corp_info_wrap {clear: both;position: relative}
  footer .corp_info_wrap .pc_address {margin-bottom: 10px;}
  footer .corp_info_wrap .mo_address {display: none;}
  footer .corp_info_wrap p {}

  footer .corp_info_wrap .sns_wrap {}
  footer .corp_info_wrap .sns_wrap li {}

  footer .corp_txt_wrap, footer .sns_wrap {position: absolute;bottom:-20px;}

  footer .sns_wrap {right: 0;}
  footer .sns_wrap li {float: left;margin-left: 20px;}
  footer .sns_wrap li img {}
}/*@pc*/
 
 
 

/* mo */
@media screen and (max-width: 1279px) {
  /* Header - mo*/
  header {height: 50px;}
  header h1 {padding: 15px 0;}
  header h1 img {width: 140px;}
  header h1 span {}

  header nav {}
  header .mo_btn {float: right;width: 30px;height: 30px;margin: 15px;}
  header .mo_btn .gnb_open {}
  header .mo_btn .gnb_close {display: none;}

  header .menu_wrap {display: none;position: fixed;left: 0;right: 0;top: 60px;bottom: 0;background: #FFF;z-index: 999;}
  header .lang_wrap {float: none;width: auto;padding-top: 20px;}
  header .lang_wrap .material-icons {display: none;}
  header .lang {position: static;border-top: 1px solid #CCC;border-bottom: 1px solid #CCC;overflow: hidden;margin-bottom: 30px;}
  header .lang li {float: left;width: 33.3333%;}
  header .lang li a {display: block;line-height: 50px;border-right: 1px solid #CCC;}
  header .lang li:last-child a {border-right: none;}

  header .gnb_wrap {clear: both;}
  header .gnb_wrap .gnb {}
  header .gnb_wrap .gnb {color: #333;font-size: 20px;}
  header .gnb_wrap .gnb a {display: block;}
  header .gnb_wrap .gnb>li>a {padding: 15px 5%;border-bottom: 1px solid #CCC;font-size: 18px;}
  header .gnb_wrap .a2 {display: none;background: #ededed;border-bottom: 1px solid #CCC;}
  header .gnb_wrap .a2 li {padding:0 5%;text-indent: 0.7em;}
  header .gnb_wrap .a2 li a {padding: 15px 0;font-size: 14px;border-bottom: 1px solid #CCC;}
  header .gnb_wrap .a2 li:last-child a {border-bottom: none;}

  /* mo +,- 기호 */
  header .gnb_wrap li>a {position:relative;}
  header .gnb_wrap .dep1>a:before, .gnb_wrap .dep1>a:after{content:"";display: block;position: absolute;background: #CCC;top: 50%;transform: translateY(-50%);}

  header .gnb_wrap .dep1>a:before {width: 18px;height: 2px;right: 5%;}
  header .gnb_wrap .dep1>a:after {width: 2px;height: 18px;right: calc(5% + 8px);}

  /* Main */
  main .visual_wrap {clear: both;}
  main .visual_wrap .swiper-slide {height: calc(100vh - 200px);}
  main .visual_wrap button {display: none;}
  main .visual_wrap b {}
  main .visual_wrap p {}


  main .gsv_wrap {}
  main .gsv_wrap li {width: 50%;}

  /* 공통 */
  main h2 {margin: 100px 0 30px;text-align: center;font-size: 30px;}
  main h3 {text-align: center;margin-bottom: 100px;font-size: 16px;}

  main .gsv_wrap ul {}
  main .gsv_wrap ul li {}
  main .gsv_wrap ul li img {padding-bottom: 20px;}
  main .gsv_wrap ul li span {margin-bottom: 50px;font-size: 20px;}

  main .prod_wrap ul {}
  main .prod_wrap ul li {}
  main .prod_wrap ul li img {}
  main .prod_wrap ul li span {}

  /* 뉴스 - mo */
  main .news_wrap {}
  main .news_wrap ul {padding-top: 0;}
  main .news_wrap ul li {}
  main .news_wrap ul li a {}
  main .news_wrap ul li img {}
  main .news_wrap ul li strong {}
  main .news_wrap ul li p {}
  main .news_wrap ul li span {}


  /* 기타 - mo */
  main .others_wrap {padding: 100px 0;background-size: cover;}
  main .others_wrap ul {width: 60%;}
  main .others_wrap ul li {margin: 7%;width: 36%;}
  main .others_wrap ul li a {padding-top: 100%;height: 0;font-size: 24px;position: relative;}
  main .others_wrap ul li a span {display: inline-block;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%)}


  /* Footer - mo*/
  footer {text-align: center;}
  footer .footer_container {padding: 30px;}
  footer .footer_menu {font-size: 20px;}
  footer .footer_menu_wrap li {margin: 20px 30px 16px 0;}
  footer .footer_menu_wrap li a {}

  footer .familysite_wrap {padding: 30px 0;}
  footer .familysite_wrap a {}

  footer .corp_info_wrap .pc_address {display: none;}
  footer .corp_info_wrap .mo_address {}
  footer .corp_info_wrap p {margin-top: 20px;}

  footer .corp_info_wrap .sns_wrap {}
  footer .corp_info_wrap .sns_wrap li {}

  footer .sns_wrap {padding: 50px 0;text-align: center;}
  footer .sns_wrap li {float: left;margin-right: 30px;}
  footer .sns_wrap li:last-child {margin-right:0;}
  footer .sns_wrap li img {}

}/*@mo*/

@media screen and (max-width: 600px) {
  main .others_wrap ul {width: auto;}
  main .others_wrap ul li a {font-size: 18px;}
}